<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift Custom Date.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4BE983A1EDFECEC003919A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4BE984E1EDFECEC003919A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4BE98591EDFECEC003919A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
